@import "shared/assets/help-styles/variables.scss";

.openedMenu {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: #fff;
	left: 0;
	top: 70px;
	border-radius: 10px 10px 0px 0px;
}

.top-row {
	margin: 18px 0;
	display: flex;
	align-items: center;
	font-family: $font-1;
	font-size: 20px;
}

.open-anim {
	animation: open 0.5s;
}

.close-anim {
	animation: close 0.5s;
}

.black-background {
	background-color: rgba(0, 0, 0, 0.54);
	height: 100vh;
	width: 100vw;
	z-index: -3;
	position: absolute;
	left: 0;
	top: 0;
}

@keyframes open {
	0% {
		top: 100%;
	}
	100% {
		top: 80px;
	}
}

@keyframes close {
	0% {
		top: 80px;
	}
	100% {
		top: 100%;
	}
}
