@import "shared/assets/help-styles/variables.scss";
.item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 12px 12px 18px;
	font-size: 16px;
	line-height: 24px;
	border-top: solid 1px #e8e8e8;
	input {
		margin: 0;
	}
}

.scroll-element {
	display: flex;
	position: relative;
	width: 100%;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
	overflow-x: scroll;
	div {
		position: relative;
		color: #6d7885;
		font-size: 14px;
		line-height: 14px;
		margin: 10px 15px;
		font-family: $font-1;
	}
}
.scroll-element::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.selected-element {
	height: 2px;
	background-color: #3f8ae0;
	border-radius: 7px;
	width: calc(100% + 30px);
	position: absolute;
	left: -15px;
	bottom: -10px;
}
